name: 'Test'

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout code'
        uses: actions/checkout@v6

      - name: 'Install uv'
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: 'Install the project'
        run: uv sync --all-extras --dev

      - name: 'Run lint check'
        run: uv run poe lint-check

      - name: 'Run type check'
        run: uv run poe type-check

      - name: 'Run tests'
        run: uv run poe test
